.buy-wrapper {
    margin: 80px 6% 200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 150px 200px;
    column-gap: 6%;
    row-gap: 24px;
}

.buy__info {
    border-bottom: 1px solid #000;
}

/* item */
.buy__item {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

.buy__item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: #ddd;
}

.buy__item-name {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.buy__item-price {
    font-size: 20px;
}

/* payment */
.buy__payment {
    grid-column: 1/2;
    grid-row: 2/3;
}

.payment__title,
.shipping__title {
    margin: 20px 30px;
    font-size: 18px;
    font-weight: 700;
}

.payment__select {
    width: 30%;
    padding: 5px 2px;
    margin-left: 90px;
}

/* shipping */
.buy__shipping {
    grid-column: 1/2;
    grid-row: 3/4;
}

.shipping {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping button {
    margin: 0 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    appearance: none;
    font-size: 18px;
    color: #0073cc;
}

.shipping-address__detail {
    font-size: 18px;
    font-weight: 600;
    margin-left: 90px;
}

/* confirmation */
.buy__confirm {
    grid-column: 2/3;
    grid-row: 1/2;
}

.buy__confirm table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.table__row{
    border: 1px solid #000;
}

.table__row th,
.table__row td {
    vertical-align: middle;
    text-align: center;
}

.table__row th {
    font-weight: normal;
    font-size: 16px;
}

.table__row td {
    font-size: 20px;
    text-align: center;
}

/* button */
.buy__btn {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}

.form__btn-submit {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #f55;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}