html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

/* header */
.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

/* main共通 */
.content {
    margin: 0 auto;
    width: 100%;
}

.content__heading {
    text-align: center;
    margin: 10px auto;
}

.content__title {
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}