html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

/* header */
.header {
    background-color: #000;
    margin-bottom: 50px;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 16px;
    /* max-width: 1200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

/* logo */
.header__logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.header__logo img {
    display: block;
    height: 28px;
    width: auto;
}

/* search */
.header__search {
    flex: 0.8;
    /* 検索欄を伸ばす */
}

.search__input {
    width: 100%;
    height: 36px;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background: #fff;
    color: #000;
    outline: none;
}

.search__input::placeholder {
    color: #000;
}

/* nav */
.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.header__nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
}

.header__nav button {
    background: transparent;
    border: none;
    padding: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    line-height: 1;
}

.header__nav form {
    margin: 0;
}

.header__nav a:last-child {
    background: #fff;
    color: #000;
    padding: 8px 14px;
    border-radius: 4px;
}

/* main共通 */
.content {
    margin: 0 auto;
    width: 100%;
}

.content__heading {
    text-align: center;
    margin: 10px auto;
}

.content__title {
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}