.tab-wrapper {
    padding: 0 40px;
    margin-bottom: 100px;
}

.tab {
    display: flex;
    gap: 48px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
    margin-top: 40px;
    position: relative;
}

.tab::after {
    content: "";
    position: absolute;
    left: -80px;
    bottom: 0;
    width: calc(100% + 160px);
    height: 2px;
    background: #5f5f5f;
}

.tab__item {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #5f5f5f;
    padding: 10px;
}

.active {
    color: #ff0000;
}

/* tab contents */
.items {
    margin-top: 50px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.items.is-active {
    display: grid;
}

.link__btn {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    position: relative;
}

.item__card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #d2d2d2;
    object-fit: cover;
    display: block;
    outline: none;
}

.item__name {
    margin: 5px 0;
    font-size: 16px;
}

/* sold */
.item__card.sold {
    pointer-events: none;
}

.item__card.sold img {
    filter: grayscale(100%) brightness(50%);
}

.item__card.sold::after {
    content: "SOLD";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #ff5555;
}