/* profile header */
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20%;
}

.profile-header__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    font-size: 24px;
    font-weight: 700;
}

.profile-edit {
    padding: 8px 16px;
    border: 1px solid #f55;
    border-radius: 8px;
    color: #f55;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

/* tab wrapper */
.tab-wrapper {
    padding: 0 40px;
}

.tab-switch>input[type="radio"] {
    display: none;
}

.tab-header {
    display: flex;
    gap: 48px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
    margin-top: 40px;
    position: relative;
}

.tab-header::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 2px;
    background: #6b6b6b;
}

.tab {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #6b6b6b;
    padding: 6px;
}

#tab-sell:checked~.tab-header label[for="tab-sell"],
#tab-buy:checked~.tab-header label[for="tab-buy"] {
    color: #f55;
}

.tab-content {
    display: none;
    margin-top: 50px;
}

#tab-sell:checked~.tab-contents section[id="content-sell"],
#tab-buy:checked~.tab-contents section[id="content-buy"]{
    display: block;
}

/* tab contents */
.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.item__img {
    aspect-ratio: 1 / 1;
    background: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item p {
    margin: 5px 0;
}