.profile-form {
    margin: 0 auto;
    padding: 30px 15px;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

/* img part */
.form__img {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    text-align: left;
    gap: 40px;
}

.profile-img {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: #d9d9d9;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-img__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
}

.img-select {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    padding: 5px 20px;
    background: #fff;
    color: #f55;
    border: 2px solid #f55;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.form__label {
    font-weight: bold;
}

.form__content {
    width: 100%;
}

.form__content input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__error {
    margin: 0;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__btn {
    margin-top: 50px;
    width: 100%;
}

.form__btn-submit {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #f55;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
