.profile-form {
    margin: 0 auto;
    padding: 30px 15px;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
}

.form__label {
    font-weight: bold;
}

.form__content {
    width: 100%;
}

.form__error {
    margin: 0;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__content input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__btn {
    margin-top: 50px;
    width: 100%;
}

.form__btn-submit {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #f55;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}