.sell-form {
    margin: 0 auto;
    padding: 30px 15px;
}

.form {
    margin: 0 auto;
    width: 50%;
}

.form__group {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
}

.form__label {
    font-weight: bold;
}

/* img part */
.upload {
    border: 1px dashed #5f5f5f;
    border-radius: 3px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload__input {
    display: none;
}

.upload__btn {
    border: 2px solid #f55;
    border-radius: 5px;
    padding: 5px 20px;
    color: #f55;
    cursor: pointer;
    user-select: none;
}

/* info part */
.item__info {
    width: 100%;
    text-align: left;
}

.info-title {
    padding: 7px 0;
    color: #5f5f5f;
    font-size: 22px;
    border-bottom: 1px solid #5f5f5f;
}

/* category part */
.form__radio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 14px;
    padding-left: 5px;
    margin: 20px 0;
    justify-content: space-between;
}

.category input {
    display: none;
}

.category span {
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #f55;
    border-radius: 100px;
    color: #f55;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.category input:checked + span {
    background: #f55;
    color: #fff;
}

.form__content {
    width: 100%;
    margin: 20px 0;
}

.item_condition {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

/* ▼の疑似矢印 未完了 */
.select__arrow {
    position: absolute;
    right: 14px;
    top: 50%;
    width: 0;
    height: 0;
    transform: translateY(-35%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #6f6f6f;
    pointer-events: none;
}

.form__content input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__content textarea {
    padding: 10px;
    width: 100%;
    height: 100px;
}

.price__input {
    position: relative;
    display: inline-block;
    width: 100%;
}

.price__input input {
    padding: 10px;
    width: 100%;
}

.price__input::before {
    content: "¥";
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    pointer-events: none;
}

.form__error {
    margin: 0;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__btn {
    margin-top: 50px;
    width: 100%;
}

.form__btn-submit {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #f55;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}